{% extends "main/base.html" %} 
{% load crispy_forms_tags %}

{% block content %} 
<form action="" method="post" autocomplete="off">
  {% csrf_token %}
  {{ form|crispy }} 
  <button type="submit" class="btn btn-success mt-4">Submit</button>
</form>
{% endblock content %}
