{% extends "main/base.html" %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap">
{% for exhibit in exhibit_list %}
  <div class="card mx-1 my-1" style="width: 18rem;flex-basis: 30%;">
    <img src={{ exhibit.img_url }} class="card-img-top" style="height: 50%;" />
    <div class="card-body">
      <h5 class="card-title">Name: {{ exhibit.name }}</h5>
      <p class="card-text">
        Desc:
        {{ exhibit.description }}
      </p>
      <a href="{% url 'exhibit_update' exhibit.id %}" class="btn btn-warning">Edit</a>
      <form action="{% url 'exhibit_delete' exhibit.id %}"  method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
